<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javen.dao.IDepartmentDao" >

    <select id="selectByDno" resultType="com.javen.model.Department">
        SELECT * FROM department
        WHERE dno=#{dno}
    </select>

    <insert id="addDnoUno">
        INSERT INTO depar_user(uno,dno)
        values (
        SELECT uno FROM user where idcard=#{idcard}
        ,#{dn.o})
    </insert>

</mapper>