<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javen.dao.IShiftDao" >
    <resultMap id="shiftResultMap" type="com.javen.model.Shift">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sno" property="sno" jdbcType="INTEGER"/>
        <result column="start_date" property="startDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="dno" property="dno" jdbcType="INTEGER"/>
        <result column="uno" property="uno" jdbcType="INTEGER"/>
        <result column="max_num" property="maxNum" jdbcType="INTEGER"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByDate" resultMap="shiftResultMap">
        SELECT * FROM shift
        WHERE <![CDATA[start_date >=#{startDate} and start_date <=#{endDate}]]>
    </select>

    <select id="selectByDateAndDept" resultMap="shiftResultMap">
    SELECT * FROM shift
    WHERE <![CDATA[start_date >=#{startDate} and start_date <=#{endDate}]]> AND dno=#{dno}
    </select>



    <select id="getShiftByDnoUno" resultMap="shiftResultMap">
        SELECT sno,start_date,end_date, dno,s.uno,max_num,num,detail,name,birthday,sex,phone,intro,title
        FROM shift s LEFT JOIN user u
        ON s.uno=u.uno
        <if test="dno!=null">
            WHERE s.dno=#{dno}
        </if>
        <if test="uno!=null">
            WHERE s.uno = #{uno}
        </if>
        AND <![CDATA[start_date >=#{startDate} and start_date <=#{endDate}]]>
        ORDER BY start_date ASC
    </select>

    <insert id="addShift" parameterType="java.util.List">
        INSERT INTO shift(start_date,end_date,dno,uno,max_num,num,detail)
        VALUES
        <foreach collection ="list" item="shiftItem" index= "index" separator =",">
            (
            #{shiftItem.startDate},
            #{shiftItem.endDate},
            #{shiftItem.dno},
            #{shiftItem.uno},
            #{shiftItem.maxNum},
            #{shiftItem.num}
            <if test="shiftItem.detail!=null">
                ,#{shiftItem.detail}
            </if>
            <if test="shiftItem.detail==null">
                ,""
            </if>
            )
        </foreach>
    </insert>

    <update id="updateShift" parameterType="com.javen.model.Shift">
        update shift
        <set>
            <if test="startDate!=null">start_date=#{startDat},</if>
            <if test="endDate!=null">end_date=#{endDate},</if>
            <if test="dno!=null">start_date=#{dno},</if>
            <if test="uno!=null">start_date=#{uno},</if>
            <if test="maxNum!=null">start_date=#{maxNum},</if>
            <if test="num!=null">start_date=#{num},</if>
            <if test="detail!=null">start_date=#{detail}</if>
        </set>
        WHERE sno=#{sno}
    </update>

    <select id="selectRegByUno" resultType="com.javen.model.Registration">
        SELECT * FROM registration
        WHERE uno=#{uno}
    </select>

    <select id="selectShiftBySno" resultMap="shiftResultMap">
        SELECT * FROM shift
        WHERE sno=#{sno}
    </select>


    <select id="getRegByUnoSno" resultType="com.javen.model.Registration">
        SELECT * FROM registration
        WHERE uno=${uno} AND sno=#{sno}
    </select>
</mapper>