<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.dao.IUserDao" >
  <resultMap id="userResultMap" type="com.javen.model.User">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uno" property="uno" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
    <result column="sex" property="sex" jdbcType="CHAR"/>
    <result column="idcard" property="idcard" jdbcType="CHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="intro" property="intro" jdbcType="VARCHAR"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="role" property="role" jdbcType="INTEGER"/>
  </resultMap>

  <select id="selectByAccountInfo" resultMap="userResultMap">
    SELECT * FROM user
    WHERE
    <if test="uno!=null and uno!=0">
      uno=#{uno}
    </if>
    <if test="phone!=null and phone!=0">
      phone=#{phone}
    </if>
    <if test="idcard!=null and idcard!=''">
      idcard=#{idcard}
    </if>
  </select>

  <select id="selectRoleByUno" resultType="INTEGER">
    SELECT rno FROM role_user
    WHERE uno=#{uno}
  </select>

  <select id="getUserByBirth" resultMap="userResultMap">
    SELECT * FROM user
    WHERE birthday=#{birthday}
  </select>

  <insert id="addUser" parameterType="com.javen.model.User">
         INSERT INTO user(name,pwd,birthday,sex,idcard,phone,intro)
         VALUES (#{name},#{pwd},#{birthday},#{sex},#{idcard},#{phone},#{intro})
  </insert>

  <insert id="defineRole" parameterType="java.util.Map">
        INSERT INTO role_user(uno,rno)
        VALUES ((SELECT DISTINCT uno FROM user WHERE idcard=#{idcard}),#{rno})
  </insert>

  <select id="selectUserByUno" resultType="com.javen.model.User">
    SELECT * FROM user
    WHERE uno=#{uno}
  </select>


  <update id="updateUser" parameterType="com.javen.model.User">
    update user
    <set>
      <if test="name!=null">name=#{name},</if>
      <if test="pwd!=null">pwd=#{pwd},</if>
      <if test="birthday!=null">birthday=#{birthday},</if>
      <if test="phone!=null">phone=#{phone},</if>
      <if test="intro!=null">intro=#{intro},</if>
      <if test="title!=null">title=#{title},</if>
    </set>
    WHERE uno=#{uno}
  </update>


  <!--以下是demo中的语句，在项目中不使用，暂时留下来，学习mabatis的sql语句怎么写-->
  
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.INTEGER" >-->
  <!--select-->
  <!--<include refid="Base_Column_List" />-->
  <!--from user_t-->
  <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->

  <!--<select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >-->
  <!--select-->
  <!--<include refid="Base_Column_List" />-->
  <!--from user_t-->
  <!--where user_name = #{id,jdbcType=VARCHAR}-->
  <!--</select>-->

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.INTEGER" >-->
  <!--delete from user_t-->
  <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.javen.model.User" >-->
  <!--insert into user_t (id, user_name, password, -->
  <!--age)-->
  <!--values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, -->
  <!--#{age,jdbcType=INTEGER})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.javen.model.User" >-->
  <!--insert into user_t-->
  <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
  <!--<if test="id != null" >-->
  <!--id,-->
  <!--</if>-->
  <!--<if test="userName != null" >-->
  <!--user_name,-->
  <!--</if>-->
  <!--<if test="password != null" >-->
  <!--password,-->
  <!--</if>-->
  <!--<if test="age != null" >-->
  <!--age,-->
  <!--</if>-->
  <!--</trim>-->
  <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
  <!--<if test="id != null" >-->
  <!--#{id,jdbcType=INTEGER},-->
  <!--</if>-->
  <!--<if test="userName != null" >-->
  <!--#{userName,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="password != null" >-->
  <!--#{password,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="age != null" >-->
  <!--#{age,jdbcType=INTEGER},-->
  <!--</if>-->
  <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.javen.model.User" >-->
  <!--update user_t-->
  <!--<set >-->
  <!--<if test="userName != null" >-->
  <!--user_name = #{userName,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="password != null" >-->
  <!--password = #{password,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="age != null" >-->
  <!--age = #{age,jdbcType=INTEGER},-->
  <!--</if>-->
  <!--</set>-->
  <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.javen.model.User" >-->
  <!--update user_t-->
  <!--set user_name = #{userName,jdbcType=VARCHAR},-->
  <!--password = #{password,jdbcType=VARCHAR},-->
  <!--age = #{age,jdbcType=INTEGER}-->
  <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>