/*公用*/
.comWidth{width: 1000px; margin-left: auto;margin-right: auto;}
.leftArea{float: left;}
.rightArea{float: right;}
.hide{display: none;}
.show{display:block;}

/*topBar*/
.topBar{height: 32px;background-color: #F7F7F7;line-height: 32px;}
.topBar a:hover{color: red;}
.loginArea p{display: inline-block;}
.loginArea {float: right;}

/*logo*/
.logoBar{height: 150px;}
.logo{padding-left: 15px; padding-top: 36.5px;}
.logo_text{line-height: 150px;font-size: 22px;color: #145b7d;font-family: "STKaiti";}

/*导航*/
.navBox{height: 45px;background-color: #76becc;color: #fff;width: 1000px;margin:auto;}
.allDepatrment{width: 250px;line-height: 45px;position: relative;}
.allDepatrment h3{text-align:center;}
.allDepatrment i{width: 11px;height: 7px;overflow: hidden;background:url(../img/down.png) left center no-repeat; display: inline-block;}
.nav,.allDepatrment{font-family: "Microsoft YaHei", "微软雅黑";font-size: 18px; }
.nav{line-height: 45px;}
.nav li{float:left;}
.nav a{height: 45px;display: inline-block;padding: 0 80px;color:#ffffff; }
.nav .active{background-color: #9acfea;}
/*科室弹出列表*/
.dep_item {background-color: #9acfea;font: 15px/3 "Microsoft YaHei","微软雅黑";padding-left: 50px;}
.Depatrment_show li a{color: #fff;}
.Depatrment_show{position: absolute;left: 0;top:45px;width: 100%;}
/*active状态*/
.Dep_active{background-color: #fff;color: #000;border-left: #9acfea solid 1px;}
/*弹出的列表*/
.Deplist_item {background-color: #ffffff;width: 748px;height: 315px;border: #cccccc solid 1px;position: absolute;left:250px;top:45px;z-index: 888;}
.Deplist_item dt{color: #829aa8;font-weight: bold;padding-left: 35px;}
.Deplist_item dd{padding-left: 35px;}
.Deplist_item dd a{margin-left: 20px;}
.Deplist_item dd a:hover{color: red;}
/*banner*/
#banner_bar{width: 750px;height: 315px;float: right;position: relative;overflow: hidden;}
#banner_bar ul,ol{list-style: none;}
#banner_bar img{width: 750px;height: 315px;display: block;}
#banner_bar ol{position: absolute;right: 10px;bottom: 10px;}
#banner_bar ol li{float: left;width: 20px;height: 20px;background-color: #a3cf62;margin:3px;text-align:  center;color: #ffffff;line-height: 20px;cursor: pointer;}
#banner_bar ol li.active{background-color: #9acfea;}
/*docter*/
.left_title{width: 100%;height:80 px;border-bottom:1px solid #829aa8;font-family: "Microsoft YaHei", "微软雅黑";font-size: 35px;color: #2b669a;}
.dep_doc{padding-top: 20px;}
.dep_doc li{font-family: "Microsoft YaHei", "微软雅黑";font-size: 20px;display: inline-block;padding-left: 20px;}
.dep_doc a{color: #829aa8;}
.dep_doc a:hover{color: red;}
.mod{padding-top: 50px;}
.mod img{width: 120px;height:150px; }
.mod ul{display: inline-block;padding-left: 100px;font-size: 20px;}
.mod li{font-family: "Microsoft YaHei", "微软雅黑";color: #2b669a;}
/*底部*/
#bottomBar{margin-top:100px;height: 37px;background-color: #8D8D8D; }